/* global edits */
html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}

/* effects edits */
.modal-container.hide {
    display: none;
}

/* main container edits */
.main-container {
    background-image: url("./image/hero_img_01.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1200px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1739px) {
    .main-container {
        max-height: 1100px;
    }
}

@media (max-width: 1600px) {
    .main-container {
        max-height: 930px;
    }
}

@media (max-width: 1360px) {
    .main-container {
        max-height: 700px;
    }
}

@media (max-width: 1020px) {
    .main-container {
        max-height: 500px;
    }
}

@media (max-width: 768px) {
    .main-container {
        background-image: url("./image/Hero_img_mobile_01.jpg");
        max-height: 1500px;
    }
}

@media (max-width: 670px) {
    .main-container {
        max-height: 1000px;
    }
}

@media (max-width: 570px) {
    .main-container {
        max-height: 900px;
    }
}

@media (max-width: 500px) {
    .main-container {
        max-height: 700px;
    }
}

/* paragraph edit */
.hero-text {
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 4px;
    max-width: 1050px;
    text-align: center;
    margin: 40px;
    padding-top: 32px;
}

@media (max-width: 1020px) {
    .hero-text {
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    .hero-text {
        padding-top: 200px;
    }
}

@media (max-width: 500px) {
    .hero-text {
        padding-top: 100px;
    }
}

/* learn more button edits*/
#learn-more-btn {
    padding: 16px 24px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: #343A40;
    width: 250px;
    border: 2px solid#FFFFFF;
    background: linear-gradient( 
180deg
 , rgba(179,181,184,1) 0%, rgb(223 227 230) 37%);
}

/* close button edits */
#close-btn {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 16px;
}

#close-btn:focus {
    outline: none;
}

/* modal edits */
.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 80%;
}

.modal {
    z-index: 1;
    margin: 40px;
}

.modal-inner-container {
    position: relative;
}

iframe {
    width: 750px;
    height: 450px;
}

@media (max-width: 768px) {
    iframe {
        width: 350px;
        height: 200px;
    }
}